<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-custom-bluetooth" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>CustomBluetooth</name>
	<AUTHOR>Evandro Augusto Soares</AUTHOR>
	<DESCRIPTION>Plugin for Cordova inspired in Networking Bluetooth by Franco Bugnano</DESCRIPTION>
	<js-module name="CustomBluetooth" src="www/CustomBluetooth.js">
		<clobbers target="custom.bluetooth" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="CustomBluetooth">
				<param name="android-package" value="cordova-plugin-custom-bluetooth.CustomBluetooth" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.BLUETOOTH" />
			<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
		</config-file>
		<source-file src="src/android/CustomBluetooth.java" target-dir="src/cordova-plugin-custom-bluetooth/CustomBluetooth" />
	</platform>
</plugin>